{% extends 'dashboard/viral_ignitor/base.html' %}
{% load static i18n %}
{% block title %} Profile {% endblock %}
{% block content %}
<div class="wrapper">
   <div class="subheader profile">
      <div class="wrap">
         <div class="subheader-main">
            <button class="btn btn-label-info m-r-10 subheader-toggle"><i class="fas fa-bars"></i></button>
            <h3 class="title"><i class="text-info fas fa-user"></i> {% trans 'profile'%}</h3>
         </div>
      </div>
   </div>
   <div class="content-two-column profile">
      <div class="column-one nicescroll">
         <div class="input-group box-search-one">
            <input class="form-control search-input" type="text" value="" autocomplete="off" placeholder="{% trans 'search' %}">
            <span class="input-group-append">
            <button class="btn" type="button">
            <i class="fa fa-search"></i>
            </button>
            </span>
         </div>
         <div class="widget">
            <div class="widget-items search-list">
               <div class="widget-item search-item wrap-m">
                  <a href="{% url 'account' %}">
                  <span class="widget-section">
                  <span class="widget-icon"><i class="far fa-user"></i></span>
                  <span class="widget-desc">{% trans 'account' %}</span>
                  </span>
                  </a>
               </div>
               <div class="widget-item search-item wrap-m ">
                  <a href="{% url 'change_password' %}">
                  <span class="widget-section">
                  <span class="widget-icon"><i class="fas fa-unlock-alt"></i></span>
                  <span class="widget-desc">{% trans 'changePassword' %}</span>
                  </span>
                  </a>
               </div>
               <div class="widget-item search-item wrap-m ">
                  <a href="{% url 'package' %}">
                  <span class="widget-section">
                  <span class="widget-icon"><i class="fas fa-cubes"></i></span>
                  <span class="widget-desc">{% trans 'package' %}</span>
                  </span>
                  </a>
               </div>
            </div>
         </div>
      </div>
      {% block user_account %}{% endblock %}
   </div>
</div>
{% endblock %}