{% extends 'core/viral_ignitor_user/base.html' %}
{% load static i18n %}
{% block user_account %}
<div class="column-two nicescroll">
   <div class="row">
      <div class="col-md-6">
         <div class="card">
            <div class="card-header">
               <div class="card-title "><i class="fas fa-unlock-alt text-info"></i> {% trans 'changePassword' %}</div>
            </div>
            <div class="card-body">
               <form action="" method="POST">
                   {% csrf_token %}
                  <div class="form-group">
                     <label for="current_password">{% trans 'currentPassword' %}</label>
                     <input type="password" class="form-control" id="current_password" name="current_password" value="">
                  </div>
                  <div class="form-group">
                     <label for="password">{% trans 'newPassword' %} </label>
                     <input type="password" class="form-control" id="password" name="password" value="">
                  </div>
                  <div class="form-group">
                     <label for="confirm_password">{% trans 'confirmNewPassword' %}</label>
                     <input type="password" class="form-control" id="confirm_password" name="confirm_password" value="">
                  </div>
                  <button type="submit" class="btn btn-info">{% trans 'save' %}</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}