{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% trans 'surviral' %}: {% trans 'surviralTitleText'  %}</title>
      <meta name="description" content="Posting Your Content is tedious and takes a long time, its much easier on to get the job done on the computer. Now you can post & schedule your instagram posts with just a few clicks.">
      <meta name="keywords" content="Instagram Post Scheduler, Surviral Post Scheduler, Post Scheduler Application">
      <link rel="icon" type="image/png" href="{% static 'svg/favicon.png' %}" />
      <link rel="stylesheet" href="{% static 'css/flag-icon.css' %}">
      <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/auth/style.css' %}" id="stylesheet">
      <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
      <script type="text/javascript">
         var token = 'd51985f35d28d79a6bf20c108f237188',
             PATH  = '#',
             BASE  = '#';
         
         document.onreadystatechange = function () {
             var state = document.readyState
             if (state == 'complete') {
                 setTimeout(function(){
                     document.getElementById('interactive');
                     document.getElementById('loading-overplay').style.opacity ="0";
                 },500);
         
                 setTimeout(function(){
                     document.getElementById('loading-overplay').style.display ="none";
                     document.getElementById('loading-overplay').style.opacity ="1";
                 },1000);
             }
         }
      </script>
   </head>
   <body>
      <div id="loading-overplay" class="spinner">
         <div class="blob blob-0"></div>
         <div class="blob blob-1"></div>
         <div class="blob blob-2"></div>
         <div class="blob blob-3"></div>
         <div class="blob blob-4"></div>
         <div class="blob blob-5"></div>
       </div>
      <div class="login-page">
         <div class="login-main">
            <div class="login-box">
               <div class="login-logo">
                  <a href="/">
                  <img src="{% static 'svg/favicon.png' %}">
                  </a>
               </div>

               {% for message in messages %}
               <div class="alert {{ message.tags }} alert-dismissible message_block" role="alert">
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                   </button>
                   {{ message | safe }}
               </div>
               {% endfor %}

               <div class="login-form">
                  <h3 class="fs-20 text-center mb-3">{% trans 'forgotPassword' %}</h3>
                  <p class="m-b-20 text-center">{% trans 'resetPasswordmassage' %}</p>
                  <form action=""method="POST">
                     {% csrf_token %}
                     <div class="form-group">
                        <div class="input-group lang-center">
                           <div class="input-group-prepend">
 
                           </div>
                        </div>
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text p-l-20 p-r-0">
                              <i class="far fa-envelope"></i>
                              </span>
                           </div>
                           <input type="email" class="form-control" name="email" autocomplete="off" placeholder="{% trans 'email' %}">
                        </div>
                        
                    
                     <div class="input-group lang-center">
                        <div class="input-group-prepend">

                        </div>
                     </div>
                  </div>
                     <span class="show-message"></span>

                     <div class="text-center">
                        <button type="submit" class="btn btn-info rounded-pill m-t-20 btn-loading d-none">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>{% trans 'submit' %}</button>
                        <button type="submit" class="btn btn-info rounded-pill m-t-20 btn-no-loading"><i class="fas fa-sign-in-alt"></i> {% trans 'submit' %}</button>
                     </div>
                     <div class="text-center">
                        <br><a href="{% url 'user_login_quick' %}">{% trans 'signIn' %}</a>
                     </div>
                  </form>
               </div>
                    <div class="signup-ask text-center">
               {% trans 'dontHaveAccount' %} <a href="{% url 'multistep_form' %}">{%trans 'signUp' %}</a>
            </div>
            </div>

         </div>
         <div class="login-bg">
         </div>
      </div>
      <script src="{% static 'js/core.js' %}"></script>
      <script src="{% static 'js/pure.js' %}"></script>
      <script>
      $(document).ready(function(){
         window.setTimeout(function() {
            $(".message_block").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
            });
         }, 5000);
      });
      </script>
   </body>
</html>
