{% extends 'dashboard/viral_ignitor/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Create Bot {% endblock %}
{% block style %}
<style>
   form.tools_form {
      width: 500px;
    border: 1px solid #e2e5ec;
    padding: 40px;
    border-radius: 4px;
    margin: 25px 0;
   }
</style>
<script src="{% static 'js/core_post.js' %}"></script>
{% endblock %}
{% block content %}
<div class="wrapper">
   <div class="subheader dashboard">
      <div class="wrap">
         <div class="subheader-main wrap-m w-100 p-r-0">
            <div class="wrap-c">
               <button type="button" class="btn btn-label-info m-r-10 subheader-toggle"><i
                  class="fas fa-bars"></i></button>
               <h3 class="title"> {% trans 'Create Youtube ' %}</h3>

            </div>
         </div>
      </div>
   </div>
   <div class="content-two-column dashboard">
      <div class="content-one-column nicescroll instagram-activity">

         <p class="mt-3">
            <i class="fa fa-info-circle mx-2 text-primary"></i>
            add youtube video urls 
         </p>
         <form class="tools_form" action="" method="POST">
            {% csrf_token %}
            <div class="row">
               <div class="col-md-12">
                   <div class="form-group">
                     <label for="video_url">{% trans 'Video url' %}</label>
                     <input id="video_url" type="text" class="form-control" name="video_url" placeholder="{% trans 'Enter Video Url' %}" required="True" required="required"/>
                  </div>
                  
                  <input type="hidden" name="admin_user_id" value="{{ user.id }}">
                  <button type="submit" class="btn btn-primary">{% trans 'submit' %}</button>
               </div>
            </div>
         </form>
      </div>
   </div>
   
</div>


<SCRIPT language="javascript">
    function addRow(tableID) {

      var table = document.getElementById(tableID);

      var rowCount = table.rows.length;
      var row = table.insertRow(rowCount);

      var cell1 = row.insertCell(0);
      var element1 = document.createElement("input");
      element1.type = "checkbox";
      element1.name="chkbox[]";
      cell1.appendChild(element1);

      var cell2 = row.insertCell(1);
      cell2.innerHTML = rowCount + 1;

      var cell3 = row.insertCell(2);
      var element2 = document.createElement("input");
      element2.type = "text";
      element2.name = "txtbox[]";
      cell3.appendChild(element2);


    }

    function deleteRow(tableID) {
      try {
      var table = document.getElementById(tableID);
      var rowCount = table.rows.length;

      for(var i=0; i<rowCount; i++) {
        var row = table.rows[i];
        var chkbox = row.cells[0].childNodes[0];
        if(null != chkbox && true == chkbox.checked) {
          table.deleteRow(i);
          rowCount--;
          i--;
        }


      }
      }catch(e) {
        alert(e);
      }
    }

  </SCRIPT>
{% endblock %}
{% block script %}
{% include 'dashboard/include/tools_script.html' %}
{% endblock %}