{% extends 'dashboard/viral_ignitor/base.html' %}
{% load static i18n %}
{% block title %} Caption {% endblock %}
<script src="{% static 'js/core_post.js' %}"></script>
{% block css %}
<link rel="stylesheet" media="all" href="{% static '/select2/css/select2.min.css' %}"/>
<style>
    .select2-container--default .select2-selection--single{
        padding: 20px 0!important;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        margin: -12px 0!important;
    }
</style>
{% endblock %}
{% block content %}
<div class="wrapper">
   <div class="subheader instagram-profiles">
      <div class="wrap">
         <div class="subheader-main">
            <button class="btn btn-label-info m-r-10 subheader-toggle"><i class="fas fa-bars"></i></button>
            <h3 class="title"><i class="fab fa-instagram" style="color: #d62976"></i> {% trans 'instagramProfiles' %}</h3>
         </div>
      </div>
   </div>
   <div class="content-one-column nicescroll instagram-profiles" tabindex="1" style="overflow-y: hidden; outline: none;">
      <div class="widget-box-add-account">
         <div class="headline m-b-30">
            <div class="title fs-18 fw-5 text-info"><i class="far fa-plus-square"></i> {% trans 'addProfile' %}</div>
            <div class="desc">{% trans 'chooseTheProfileYou' %}</div>
         </div>
         <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item">
               <a class="nav-link active" id="instagram-user-tab"><i class="fab fa-instagram"></i> {% trans 'username' %} &amp; {% trans 'password' %}</a>
            </li>
         </ul>
         <div class="tab-content p-t-25" id="myTabContent">
            <div class="tab-pane fade show active" id="instagram-user" role="tabpanel">
               <form action="" method="POST">
                   {% csrf_token %}
                  <div class="form-group">
                     <label for="username">{% trans 'instagramUsername' %}</label>
                     <input autocomplete="off" type="text" class="form-control" id="username" name="account_username" value="" required>
                  </div>
                  <div class="form-group">
                     <label for="password">{% trans 'instagramPassword' %}</label>
                     <input autocomplete="off" type="password" class="form-control" id="password" name="account_password" value="" required>
                  </div>
                   <div class="form-group">
                     <label for="area_country">{% trans 'selectModeOfReceiving' %}</label>
                     <select class="form-control" name="otp_mode" id="otp_mode">

                         <option value="Phone">{% trans 'phone' %}</option>
                         <option value="Email">{% trans 'email' %}</option>

                     </select>
                  </div>
                   <div class="form-group">
                     <label for="area_country">{% trans 'country' %}</label>
                     <select class="form-control" name="area_country" id="area_country" required>
                         <option value="">{% trans 'pleaseSelectCountry' %}</option>
                         {% for country in countries %}
                         <option value="{{ country }}">{{ country }}</option>
                         {% endfor %}
                     </select>
                  </div>
                  <div class="form-group">
                     <label for="area_country">{% trans 'Group' %}</label>
                     <select class="form-control" name="area_group" id="area_country" required>
                         <option value=0>{% trans 'pleaseSelectGroup' %}</option>
                         {% for group in groups %}
                         <option value="{{ group.id }}">{{ group.name }}</option>
                         {% endfor %}
                     </select>
                  </div>
                  <div class="form-group">
                   <input type="checkbox" id="2fa_codes_check" name="2fa_codes_check">
                   <label for="flexCheckDefault">
                      This Account is Two Factor Authentication Protected.
                    </label>
                    <input class="form-control" id="2fa_codes" name="2fa_codes" style="display: none" placeholder="Enter your account's 2FA backup codes comma seperated. (eg.: 123456, 654321 etc)">
                  </div>
                   <input type="hidden" class="form-control" name="user" value="{{ user.id }}">
                   <button type="submit" class="btn btn-block btn-info m-t-15">{% trans 'addProfile' %}</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static '/select2/js/select2.full.min.js' %}"></script>
    <script type="text/javascript" class="js-code-example-tokenizer">

        $eventSelect = $("#area_country").select2({
            tags: true,
            tokenSeparators: [',', ' ']
        })
    </script>

    <script>
      $('#2fa_codes_check').click(function(){
        var checked = $(this).is(":checked");
        if (checked == true) {
          $("#2fa_codes").show();
          $("#2fa_codes").attr('required', 'required');
        }
        else {
          $("#2fa_codes").hide();
          $("#2fa_codes").removeAttr('required');
          $("#2fa_codes").val('');
        }
      })
    </script>
{% endblock %}