{% extends 'dashboard/viral_ignitor/base.html' %}
{% load static i18n %}
{% block title %} File manager {% endblock %}
{% block content %}
<script src="{% static 'js/core_post.js' %}"></script>
<div class="wrapper">
   <div class="subheader file-manager">
      <div class="wrap">
         <div class="fm-progress-bar"></div>
         <div class="subheader-main">
            <h3 class="title"><i class="text-info far fa-folder-open"></i> {% trans 'fileManager' %}</h3>
            <span class="separator"></span>
            <div class="small"> 0 {% trans 'mediaItems' %}</div>
         </div>
         <div class="subheader-toolbar">
            <div class="btn-group mr-2" role="group">
               <button type="button" class="btn btn-secondary fileinput-button"><i class="fas fa-upload"></i> {% trans 'upload' %}
                  <input onchange="readURL(this);" id="fileupload" type="file" name="files[]" multiple=""  accept="image/gif, image/jpeg, image/png, video/*"></button>
               <button type="button" class="btn btn-secondary btn-upload-from-url" data-text="Enter media url"><i class="fas fa-link"></i></button>
            </div>
            <div class="btn-group" role="group">
               <button type="button" class="btn btn-secondary fm-select-all" data-text="">
               <span class="check"><i class="fas fa-check"></i> {% trans 'selectAll' %} </span>
               <span class="uncheck"><i class="fas fa-times"></i> {% trans 'deselectAll' %} </span>
               </button>
               <button type="button" class="btn btn-secondary fm-delete-all"><i class="far fa-trash-alt"></i></button>
            </div>
            <!-- <div class="btn-group" role="group">
               <button type="button" class="btn btn-secondary"><i class="fas fa-th-large"></i></button>
               <button type="button" class="btn btn-secondary"><i class="fas fa-list"></i></button>
               </div> -->
         </div>
      </div>
   </div>
   <div class="content-two-column content-two-column-right file-manager">
      <div class="column-one nicescroll">
         <div class="fm-sb-title">
            <i class="fas fa-filter text-info"></i>
            {% trans 'filterMedia' %}
         </div>
         <div class="fm-filter">
            <div class="form-group">
               <label>{% trans 'mediaNotes' %}</label>
               <div class="input-group">
                  <div class="input-group-prepend">
                     <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button>
                  </div>
                  <input type="text" class="form-control filter-keyword" placeholder="Enter keywork">
               </div>
            </div>
            <div class="form-group">
               <label>{% trans 'mediaType' %}</label>
               <select class="form-control filter-type">
                  <option value="all">{% trans 'allMedia' %}</option>
                  <option value="image">{% trans 'image' %}</option>
                  <option value="video">{% trans 'video' %}</option>
               </select>
            </div>
         </div>
         <div class="fm-sb-title m-t-30">
            <i class="fas fa-info-circle text-info"></i>
           {% trans  'mediaInfo' %}
         </div>
         <div class="fm-storage">
            <div class="fm-storage-size">
               <div class="used">0 MB</div>
               <div class="total">150 MB</div>
               <div class="clearfix"></div>
            </div>
            <div class="progress">
               <div class="progress-bar bg-info" style="width:0%"></div>
               <div class="progress-bar bg-warning" style="width:0%"></div>
            </div>
            <div class="fm-storage-list">
               <div class="fm-storage-item">
                  <div class="icon btn btn-label-info">
                     <i class="far fa-image"></i>
                  </div>
                  <div class="info">
                     <div class="name">{% trans 'images' %}</div>
                     <div class="desc">0 {% trans 'files' %}</div>
                  </div>
                  <div class="number">
                     0 MB
                  </div>
               </div>
               <div class="fm-storage-item">
                  <div class="icon btn btn-label-warning">
                     <i class="fas fa-video"></i>
                  </div>
                  <div class="info">
                     <div class="name">{% trans 'videos' %}</div>
                     <div class="desc">0 {% trans 'files' %}</div>
                  </div>
                  <div class="number">
                     0 MB
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="column-two nicescroll">
         <div class="preview-instagram preview-instagram-photo item-post-type" data-type="photo">
                                             <div class="preview-content">
                                                <div class="user-info">
                                                   <img class="img-circle" src="{% static 'svg/favicon.png' %}">
                                                   <span>{% trans 'surviral' %}</span>
                                                </div>
                                                <div class="preview-media" data-max-image="1"></div>
                                                <div class="post-info">
                                                   <div class="info-active pull-left"> {% trans 'beTheFirstToLikeThis' %}</div>
                                                   <div class="pull-right">1s</div>
                                                   <div class="clearfix"></div>
                                                </div>
                                                <div class="caption pt0">
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text w50"></div>
                                                </div>
                                                <div class="preview-comment">
                                                   {% trans 'addAComment' %}
                                                   <div class="icon-3dot"></div>
                                                </div>
                                             </div>
                                          </div>
<!--         <form action="" class="fm-form" method="POST">-->
<!--            <div class="fm-content row ajax-load-files" data-action="#">-->
<!--               <div class="fm-loading">-->
<!--                  <img src="#">-->
<!--               </div>-->
<!--            </div>-->
<!--         </form>-->
<!--         <style type="text/css">-->
<!--            .fancybox-toolbar{-->
<!--            opacity: 1;-->
<!--            visibility: visible;-->
<!--            }-->
<!--         </style>-->
      </div>
   </div>
</div>
{% endblock %}