{% extends 'dashboard/viral_ignitor/base.html' %}
{% load static i18n  %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<script src="{% static 'js/core_post.js' %}"></script>
<div class="wrapper">
   <div class="subheader dashboard">
      <div class="wrap">
         <div class="subheader-main wrap-m w-100 p-r-0">
            <div class="wrap-c">
               <button type="button" class="btn btn-label-info m-r-10 subheader-toggle"><i class="fas fa-bars"></i></button>
               <h3 class="title"><i class="fas fa-desktop"></i> {% trans 'dashboard' %}</h3>
            </div>
         </div>
      </div>
   </div>
   <div class="content-two-column dashboard">
      <div class="column-one nicescroll" tabindex="1" style="overflow-y: hidden; outline: none;">
         <div class="input-group box-search-one">
            <input class="form-control search-input" type="text" autocomplete="off" placeholder="{% trans 'search' %}">
            <span class="input-group-append">
            <button class="btn" type="button">
            <i class="fa fa-search"></i>
            </button>
            </span>
         </div>
         <div class="widget">
            <div class="widget-list search-list">
               <div class="widget-item widget-item-3 search-list " data-pid="">
                  <a href="{% url 'dashboard' %}" class="">
                     <div class="icon border"><i class="fas fa-chart-bar" style="color: #fa7070"></i></div>
                     <div class="content content-2">
                        <div class="title fw-4">{% trans 'all' %}</div>
                        <div class="desc">{% trans 'report' %}</div>
                     </div>
                  </a>
                  <div class="widget-option">
                     <label class="i-radio i-radio--tick i-radio--brand m-t-6">
                     <input type="radio" name="account[]" class="check-item"  value="" >
                     <span></span>
                     </label>
                  </div>
               </div>
               <div class="widget-item widget-item-3 search-list active" data-pid="">
                  <a href="{% url 'instagram' %}" class="">
                     <div class="icon border"><i class="fab fa-instagram" style="color: #d62976"></i></div>
                     <div class="content content-2">
                        <div class="title fw-4">{% trans 'instagram' %}</div>
                        <div class="desc">{% trans 'report' %}</div>
                     </div>
                  </a>
                  <div class="widget-option">
                     <label class="i-radio i-radio--tick i-radio--brand m-t-6">
                     <input type="radio" name="account[]" class="check-item" checked  value="instagram" >
                     <span></span>
                     </label>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="column-two nicescroll" tabindex="2" style="overflow-y: hidden; outline: none;">
         <h3 class="text-info fs-18 m-b-25 "> <i class="fab fa-instagram"></i> {% trans 'instagramPost' %}</h3>
         <div class="row">
            <div class="col-lg-8 col-sm-12 m-b-25">
               <div class="card rounded">
                  <div class="card-header wrap-m">
                     <div class="card-title wrap-c text-info"><i class="fas fa-caret-right p-r-5"></i> {%trans 'lastDays' %}</div>
                  </div>
                  <div class="card-body h-300">
                     <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                           <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                           <div class=""></div>
                        </div>
                     </div>
                     <canvas id="line-stacked-area" height="260" width="420" class="chartjs-render-monitor" style="display: block; width: 420px; height: 260px;"></canvas>
                  </div>
                  <script type="text/javascript">
                     $(function(){
                     	setTimeout(function(){
                     Core.lineChart(
                     "line-stacked-area",
                     ['2020-08-31','2020-09-01','2020-09-02','2020-09-03','2020-09-04','2020-09-05','2020-09-06','2020-09-07','2020-09-08','2020-09-09','2020-09-10','2020-09-11','2020-09-12','2020-09-13','2020-09-14','2020-09-15','2020-09-16','2020-09-17','2020-09-18','2020-09-19','2020-09-20','2020-09-21','2020-09-22','2020-09-23','2020-09-24','2020-09-25','2020-09-26','2020-09-27','2020-09-28','2020-09-29'],
                     [
                     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
                     [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]							],
                     [
                     "Successed",
                     "Failed"
                     ]
                     );
                     }, 300);
                     });
                  </script>
               </div>
            </div>
            <div class="col-lg-4 col-sm-12 m-b-25">
               <div class="card rounded">
                  <div class="card-header wrap-m">
                     <div class="card-title wrap-c text-info"><i class="fas fa-caret-right p-r-5"></i> {% trans 'postType' %}</div>
                  </div>
                  <div class="card-body h-300">
                     <div class="w-250 m-auto">
                        <div class="chartjs-size-monitor">
                           <div class="chartjs-size-monitor-expand">
                              <div class=""></div>
                           </div>
                           <div class="chartjs-size-monitor-shrink">
                              <div class=""></div>
                           </div>
                        </div>
                        <canvas id="chart-area" height="250" width="250" class="chartjs-render-monitor" style="display: block; width: 250px; height: 250px;"></canvas>
                     </div>
                  </div>
                  <script type="text/javascript">
                     $(function(){
                     setTimeout(function(){
                     Core.pieChart(
                     "chart-area",
                     ["Media", "Story", "IG TV", "Carousel"],
                     [
                     0,
                     0,
                     0,
                     0		    				]
                     );
                     }, 300);
                     });
                  </script>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 m-b-25">
               <div class="p-25 bg-solid-info rounded">
                  <div class="wrap-m">
                     <div>
                        <h3 class="success w-100">0</h3>
                        <div>{% trans 'successed' %}</div>
                     </div>
                     <div class="wrap-c">
                        <i class="fas fa-paper-plane float-right text-info fs-45"></i>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 m-b-25">
               <div class="p-25 bg-solid-warning rounded">
                  <div class="wrap-m">
                     <div>
                        <h3 class="danger">0</h3>
                        <span>{% trans 'failed' %}</span>
                     </div>
                     <div class="wrap-c">
                        <i class="fas fa-exclamation-triangle float-right text-warning fs-45"></i>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4 m-b-25">
               <div class="p-25 bg-solid-success rounded">
                  <div class="wrap-m">
                     <div>
                        <h3 class="primary">0</h3>
                        <span>{% trans 'total' %}</span>
                     </div>
                     <div class="wrap-c">
                        <i class="fas fa-calendar-check float-right text-success fs-45"></i>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: auto; cursor: default; position: absolute; top: 0px; left: 269px; height: 522px; display: none; opacity: 0;">
      <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 5px; height: 0px; background-color: rgb(215, 215, 215); border: none; background-clip: padding-box; border-radius: 0px;"></div>
   </div>
   <div id="ascrail2001" class="nicescroll-rails nicescroll-rails-vr" style="width: 5px; z-index: auto; cursor: default; position: absolute; top: 0px; left: 782px; height: 522px; display: block; opacity: 0;">
      <div class="nicescroll-cursors" style="position: relative; top: 83px; float: right; width: 5px; height: 439px; background-color: rgb(215, 215, 215); border: none; background-clip: padding-box; border-radius: 0px;"></div>
   </div>
</div>
{% endblock %}