{% extends 'dashboard/viral_ignitor/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Create Bot {% endblock %}
{% block style %}
<style>
   form.tools_form {
      width: 500px;
    border: 1px solid #e2e5ec;
    padding: 40px;
    border-radius: 4px;
    margin: 25px 0;
   }
</style>
<script src="{% static 'js/core_post.js' %}"></script>
{% endblock %}
{% block content %}
<div class="wrapper">
   <div class="subheader dashboard">
      <div class="wrap">
         <div class="subheader-main wrap-m w-100 p-r-0">
            <div class="wrap-c">
               <button type="button" class="btn btn-label-info m-r-10 subheader-toggle"><i
                  class="fas fa-bars"></i></button>
               <h3 class="title"> {% trans 'Youtube Group' %}</h3>
            </div>
         </div>
      </div>
   </div>
    
   <div class="content-two-column dashboard">
      <div class="content-one-column nicescroll instagram-activity">
          {% if list_insta %}
                    <div class="widget">
            <div class="widget-list search-list">
               <div class="widget-item widget-item-3 search-list" data-pid="42738698050">
                  <a href="#">
                     <div class="icon"><img src="{% static 'svg/favicon.png' %}"></div>
                     <div class="content content-2">

                        <div class="title fw-4">{{ list_insta.name }}</div>
                        <div class="desc">Group profile</div>
                     </div>
                  </a>
               </div>
            </div>
         </div>
              {% endif %}  
{% if accounts %}
<form  method="post">
  {% csrf_token %}
  <div class="content-three-column post">
     {% for account in accounts %}
     <div class="widget">
        <div class="widget-list search-list">
           <div class="widget-item widget-item-3 search-list" data-pid="42738698050">
              <a href="#">
                 <div class="icon">
                   <i class="fab fa-youtube p-r-5" style="color: #d62976"></i>
                </div>
                 <div class="content content-2">
                    <div class="title fw-4">{{ account.email }}</div>
                    <div class="desc">Youtube profile</div>
                 </div>
              </a>
              <div class="widget-option">
                 <label class="i-checkbox i-checkbox--tick i-checkbox--brand m-t-6">
                  <input type="checkbox" name="insta_account" value="{{ account.id }}">
                 <span></span>
                 </label>
              </div>
           </div>
     </div>
     {% endfor %}
 <input type="hidden" name="insta_group_id" value="{{ list_insta.id }}">

<button type="submit" class="btn btn-primary">{% trans 'submit' %}</button>
</form>
{% else %}
<div class="card-header wrap-m">
  <div class="card-title wrap-c m-b-0"><i class="fab fa-youtube p-r-5" style="color: #d62976"></i>{% trans 'No More Youtube profiles '  %}</div>
</div>
{% endif %}


      </div>
   </div>
</div>
{% endblock %}
{% block script %}
{% include 'dashboard/include/tools_script.html' %}
{% endblock %}