{% extends 'dashboard/viral_ignitor/base.html' %}
{% load static i18n %}
{% block title %} Publish all {% endblock %}
{% block style %}
<style>
.slider {
  width: auto;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  max-width: 100%;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: auto;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides > div:target {
/*   transform: scale(0.8); */
}
.author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}
</style>
<script>
   var FORMAT_DATE = 'mm/dd/yy';
   var FORMAT_DATETIME = ["mm/dd/yy", "hh:mm TT"];
</script>
<script src="{% static 'js/core_post.js' %}"></script>

{% endblock %}
{% block content %}
<div class="wrapper">
   <div class="subheader post">
      <div class="wrap">
         <div class="subheader-main">
            <button class="btn btn-label-info m-r-10 subheader-toggle" type="button"><i class="fas fa-bars"></i>
            </button>
            <h3 class="title"><i class="far fa-paper-plane text-info"></i> {% trans 'makeAPost' %}</h3>
            <button class="btn btn-label-info subheader-right-toggle" type="button"><i class="far fa-eye"></i>
            </button>
         </div>
      </div>
   </div>
   <div class="content-three-column post">
      <div class="column-one nicescroll">
         {% for account in user.useraccount_set.all %}
         <div class="widget">
            <div class="widget-list search-list">
               <div class="widget-item widget-item-3 search-list" data-pid="42738698050">
                  <a href="#">
                     <div class="icon"><img src="{% static 'svg/favicon.png' %}"></div>
                     <div class="content content-2">
                        <div class="title fw-4">{{ account.account_username }}</div>
                        <div class="desc">{% trans 'instagramProfiles' %}</div>
                     </div>
                  </a>
                  <div class="widget-option">
                     <label class="i-checkbox i-checkbox--tick i-checkbox--brand m-t-6">
                     <input type="checkbox" name="account[]" class="check-item" value="instagram__8baa347219a055e124dfae76239b13e1" >
                     <span></span>
                     </label>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
      <form method="post" enctype="multipart/form-data" style="height: 100%">
         {% csrf_token %}
      <div class="comlumn-three-main">
         <div class="column-two nicescroll">
            <p>
               <i class="fa fa-info-circle mx-2 text-primary"></i>
               {% trans 'thisFunctionalityPost' %}
            </p>
            <div class="post post-create">
               <div class="post-overplay">
                  <div class='loader loader1'>
                     <div>
                        <div>
                           <div>
                              <div></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="headline m-b-25">
                  <div class="title fs-16 text-info"><i class="far fa-edit"></i> {% trans 'newPost' %}</div>
               </div>
               <div class="row lg post-type m-b-15">
                  <div class="item col p-l-0 p-r-0 active">
                     <a href="javascript:void(0);">
                     <label class="i-radio i-radio--tick i-radio--brand m-b-0 p-l-0">
                     <input type="radio" name="post_type" checked value="photo"> <i class="far fa-images"></i> {% trans 'photo' %}              <span class="d-none"></span>
                     </label>
                     </a>
                  </div>
                  {% comment %}
                  <div class="item col p-l-0 p-r-0 ">
                     <a href="javascript:void(0);">
                     <label class="i-radio i-radio--tick i-radio--brand m-b-0 p-l-0">
                     <input type="radio" name="post_type"  value="video"> <i class="fas fa-video"></i> {% trans 'video' %}             <span class="d-none"></span>
                     </label>
                     </a>
                  </div>
                  <div class="item col p-l-0 p-r-0 ">
                     <a href="javascript:void(0);">
                     <label class="i-radio i-radio--tick i-radio--brand m-b-0 p-l-0">
                     <input type="radio" name="post_type"  value="link"> <i class="fas fa-link"></i> {% trans 'link' %}             <span class="d-none"></span>
                     </label>
                     </a>
                  </div>
                  <div class="item col p-l-0 p-r-0 ">
                     <a href="javascript:void(0);">
                     <label class="i-radio i-radio--tick i-radio--brand m-b-0 p-l-0">
                     <input type="radio" name="post_type"  value="text"> <i class="far fa-file-alt"></i> {% trans 'text' %}               <span class="d-none"></span>
                     </label>
                     </a>
                  </div>
                  {% endcomment %}
               </div>
               <div class="form-group">
                 <label for="group">group</label>
                 <select class="select form-control" name="group">
                   <option value="">---Post with a Account Group---</option>
                   {% for group in user_groups %}
                     <option value="{{group.id}}">{{group.name}}</option>
                   {% endfor %}
                 </select>
               </div>
               <div class="post-content m-b-15">
                  {% comment %}
                  <div class="item-post-type" data-type="photo">
                     <div class="file-manager">
                        <div class="fm-wiget">
                           <div class="fm-progress-bar"></div>
                           <div class="fm-files sortable">
                           </div>
                           <div class="fm-toolbar">
                              <div class="btn-group btn-group-sm" role="group">
                                 <button type="button" class="btn btn-secondary fileinput-button" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Upload">{% trans 'selectImage' %}  <i class="far fa-folder-open"></i>
                                    <input id="post-images" onchange="readUrlMultiImages(this);" accept="image/gif, image/jpeg, image/png" type="file" name="post-img"></button>
                                 <button type="button" class="btn btn-secondary btn-upload-from-url" data-text="Enter media url"><i class="fas fa-link"></i></button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endcomment %}
                  <div class="item-post-type" data-type="video">
                     <div class="file-manager">
                        <div class="fm-wiget">
                           <div class="fm-progress-bar"></div>
                           <div class="fm-files sortable">
                           </div>
                           <div class="fm-toolbar">
                              <div class="btn-group btn-group-sm" role="group">
                                 <button type="button" class="btn btn-secondary btnOpenFileManager" data-select="single" data-file-type="video" type="button"><i class="far fa-folder-open"></i> {% trans 'fileManager' %}</button>
                                 <button type="button" class="btn btn-secondary fileinput-button" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Upload"><i class="fas fa-upload"></i>
                                    <input id="upload_video" type="file" name="files[]" multiple=""></button>
                                 <button type="button" class="btn btn-secondary btn-upload-from-url" data-text="Enter media url"><i class="fas fa-link"></i></button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="item-post-type" data-type="link">
                     <label class="text-uppercase">Link url</label>
                     <div class="form-group">
                        <input type="text" class="form-control" name="link" placeholder="Enter your link">
                     </div>
                     <label class="text-uppercase">{% trans 'thumbnail' %}</label>
                     <div class="file-manager">
                        <div class="fm-wiget">
                           <div class="fm-progress-bar"></div>
                           <div class="fm-files sortable">
                           </div>
                           <div class="fm-toolbar">
                              <div class="btn-group btn-group-sm" role="group">
                                 <button type="button" class="btn btn-secondary btnOpenFileManager" data-select="single" data-file-type="image" type="button"><i class="far fa-folder-open"></i> {% trans 'fileManager' %}</button>
                                 <button type="button" class="btn btn-secondary fileinput-button" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Upload"><i class="fas fa-upload"></i>
                                    <input id="upload_link" accept="image/gif, image/jpeg, image/png" type="file" name="files[]" multiple=""></button>
                                 <button type="button" class="btn btn-secondary btn-upload-from-url" data-text="Enter media url"><i class="fas fa-link"></i></button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="caption m-t-15">
                     <textarea name="caption" class="form-control post-message" placeholder="{% trans 'enterYourCaption' %}"></textarea>
                     <button style="float: right;" type="button" class="btn btn-secondary fileinput-button" data-toggle="tooltip" data-trigger="hover" data-placement="top" title="Upload">{% trans 'selectImage' %}  <i class="far fa-folder-open"></i><input  id="post-images" onchange="readUrlMultiImages(this);" accept="image/gif, image/jpeg, image/png" max-size="30000" type="file" name="post-img" required="True" multiple="true"></button>
                        <div class="item">
                           <div class="count-word form-control"><i class="fas fa-text-width"></i> <span>0</span></div>
                        </div>
                  </div>
               </div>
               <div class="post-schedule m-b-15 ">
                  <label class="i-checkbox i-checkbox--tick i-checkbox--brand m-b-15">
                  <input type="checkbox" name="is_schedule" value="1" > {% trans 'schedule'%}      <span></span>
                  </label>
                  <div class="form-group">
                     <span>{% trans 'currentTimezone' %}: {{user.timezone}}</span><!-- <a href="/account/" style="float: right;"><i class="far fa-edit"></i>{% trans 'edit' %}</a> -->
                  </div>
                  <div class="post-schedule-content">
                     <div class="row">
                        <div class="col-6">
                           <div class="form-group">
                              <label>{% trans 'scheduleFor' %}</label>
                              <input type="text" class="form-control datetime" name="time_post"/>
                           </div>
                        </div>
                        {% comment %}
                        <div class="col-6">
                           <div class="form-group">
                              <label>{% trans 'intervalPerPost' %}</label>
                              <input type="number" class="form-control" autocomplete="off" name="interval_per_post" value="5">
                           </div>
                        </div>
                     </div>
                     <div class="row post-repost">
                        <div class="col-6">
                           <div class="form-group">
                              <label>{% trans 'repostFrequency' %}</label>
                              <select class="form-control" name="repost_frequency">
                                 <option value="0">0</option>
                                 <option value="1">1</option>
                                 <option value="2">2</option>
                                 <option value="3">3</option>
                                 <option value="4">4</option>
                                 <option value="5">5</option>
                                 <option value="6">6</option>
                                 <option value="7">7</option>
                                 <option value="8">8</option>
                                 <option value="9">9</option>
                                 <option value="10">10</option>
                                 <option value="11">11</option>
                                 <option value="12">12</option>
                                 <option value="13">13</option>
                                 <option value="14">14</option>
                                 <option value="15">15</option>
                                 <option value="16">16</option>
                                 <option value="17">17</option>
                                 <option value="18">18</option>
                                 <option value="19">19</option>
                                 <option value="20">20</option>
                                 <option value="21">21</option>
                                 <option value="22">22</option>
                                 <option value="23">23</option>
                                 <option value="24">24</option>
                                 <option value="25">25</option>
                                 <option value="26">26</option>
                                 <option value="27">27</option>
                                 <option value="28">28</option>
                                 <option value="29">29</option>
                                 <option value="30">30</option>
                                 <option value="31">31</option>
                                 <option value="32">32</option>
                                 <option value="33">33</option>
                                 <option value="34">34</option>
                                 <option value="35">35</option>
                                 <option value="36">36</option>
                                 <option value="37">37</option>
                                 <option value="38">38</option>
                                 <option value="39">39</option>
                                 <option value="40">40</option>
                                 <option value="41">41</option>
                                 <option value="42">42</option>
                                 <option value="43">43</option>
                                 <option value="44">44</option>
                                 <option value="45">45</option>
                                 <option value="46">46</option>
                                 <option value="47">47</option>
                                 <option value="48">48</option>
                                 <option value="49">49</option>
                                 <option value="50">50</option>
                                 <option value="51">51</option>
                                 <option value="52">52</option>
                                 <option value="53">53</option>
                                 <option value="54">54</option>
                                 <option value="55">55</option>
                                 <option value="56">56</option>
                                 <option value="57">57</option>
                                 <option value="58">58</option>
                                 <option value="59">59</option>
                                 <option value="60">60</option>
                              </select>
                              <span class="small">{% trans 'setDisableRepost' %}</span>
                           </div>
                        </div>
                        <div class="col-6">
                           <div class="form-group">
                              <label>{% trans 'repostUntil' %}</label>
                              <input type="text" class="form-control datetime" autocomplete="off" name="repost_until" value="">
                           </div>
                        </div>
                        {% endcomment %}
                     </div>
                  </div>
               </div>
               <input type="hidden" id="insta_user_id" name="insta_user_id">
               <input type="hidden" id="user" name="user" value="{{request.user.id}}">
               <div class="fm-action text-right">
                  <input type="hidden" name="timezone" value="{{user.timezone}}">
                  <button class="btn btn-info btn-schedule d-none" data-action="#"
                     type="submit">{% trans 'schedule' %}
                  </button>
                  <button class="btn btn-info btn-schedule-draft d-none" data-action="#" name="save_draft" value=1
                     type="submit">{% trans 'SaveAsDraft' %}
                  <button class="btn btn-info btn-post-now" data-action="#"
                     type="submit">{% trans 'postNow' %}
                  </button>
                  <button class="btn btn-info btn-post-draft" data-action="#" 
                  name="save_draft" value=1
                     type="submit">{% trans 'SaveAsDraft' %}
                  </button>
               </div>
            </form>
               <div id="" class="modal fade post-modal">
                  <div class="modal-dialog modal-dialog-centered modal-md">
                     <div class="modal-content">
                        <div class="modal-header bg-solid-warning">
                           <h5 class="modal-title text-warning"><i class="fas fa-exclamation-circle"></i> {% trans 'confirm' %}</h5>
                        </div>
                        <div class="modal-body data-post-confirm">
                        </div>
                        <div class="modal-footer">
                           <button class="btn btn-secondary" data-dismiss="modal" type="button">{% trans 'no' %}, {% trans 'cancel' %}</button>
                           <button class="btn btn-info btn-post-try" data-action="#" data-dismiss="modal"
                              type="submit">{% trans 'yesImsure' %}
                           </button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="column-three nicescroll">
            <div class="post">
               <div class="row lg">
                  <div class="col p-0">
                     <div class="post-preview">
                        <div class="tab nav nav-tabs">
                           <a href="#preview-tab-0" class="active" data-toggle="tab" aria-expanded="true"><i class="fab fa-instagram" style="color: #d62976"></i></a>
                        </div>
                        <div class="row justify-content-md-center m-t-30">
                           <div class="col-md-8 col-sm-12 tab-content">
                              <div class="tab-pane fade active show" id="preview-tab-0">
                                 <div class="preview-instagram">
                                    <div class="card border-0">
                                       <div class="card-block p-0 border-0">
                                          <div class="preview-instagram preview-instagram-photo item-post-type" data-type="media">
                                             <div class="preview-content">
                                                <div class="user-info">
                                                   <img class="img-circle" src="{% static 'svg/favicon.png' %}">
                                                   <span>{% trans 'surviral' %}</span>
                                                </div>
                                                <div class="preview-media" data-max-image="1"></div>
                                                <div class="post-info">
                                                   <div class="info-active pull-left"> {% trans 'beTheFirstToLikeThis' %}</div>
                                                   <div class="pull-right">1s</div>
                                                   <div class="clearfix"></div>
                                                </div>
                                                <div class="caption pt0">
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text w50"></div>
                                                </div>
                                                <div class="preview-comment">
                                                   {% trans 'addAComment' %}
                                                   <div class="icon-3dot"></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="preview-instagram preview-instagram-photo item-post-type" data-type="photo">
                                             <div class="preview-content">
                                                <div class="user-info">
                                                   <img class="img-circle" src="{% static 'svg/favicon.png' %}">
                                                   <span>{% trans 'surviral' %}</span>
                                                </div>
                                                   <div class="slider">
                                                     <div class="slides">

                                                     </div>
                                                   </div>
                                                <div class="post-info">
                                                   <div class="info-active pull-left"> {% trans 'beTheFirstToLikeThis' %}</div>
                                                   <div class="pull-right">1s</div>
                                                   <div class="clearfix"></div>
                                                </div>
                                                <div class="caption pt0">
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text w50"></div>
                                                </div>
                                                <div class="preview-comment">
                                                   {% trans 'addAComment' %}
                                                   <div class="icon-3dot"></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="preview-instagram preview-instagram-photo item-post-type" data-type="video">
                                             <div class="preview-content">
                                                <div class="user-info">
                                                   <img class="img-circle" src="{% static 'svg/favicon.png' %}">
                                                   <span>{% trans 'surviral' %}</span>
                                                </div>
                                                <div class="preview-media" data-max-image="1"></div>
                                                <div class="post-info">
                                                   <div class="info-active pull-left"> {% trans 'beTheFirstToLikeThis' %}</div>
                                                   <div class="pull-right">1s</div>
                                                   <div class="clearfix"></div>
                                                </div>
                                                <div class="caption pt0">
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text w50"></div>
                                                </div>
                                                <div class="preview-comment">
                                                   {% trans 'addAComment' %}
                                                   <div class="icon-3dot"></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="preview-instagram preview-instagram-photo item-post-type" data-type="link">
                                             <div class="preview-content">
                                                <div class="user-info">
                                                   <img class="img-circle" src="{% static 'svg/favicon.png' %}">
                                                   <span>{% trans 'surviral' %}</span>
                                                </div>
                                                <div class="preview-media" data-max-image="1"></div>
                                                <div class="post-info">
                                                   <div class="info-active pull-left"> {% trans 'beTheFirstToLikeThis' %}</div>
                                                   <div class="pull-right">1s</div>
                                                   <div class="clearfix"></div>
                                                </div>
                                                <div class="caption pt0">
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text w50"></div>
                                                </div>
                                                <div class="preview-comment">
                                                   {% trans 'addAComment' %}
                                                   <div class="icon-3dot"></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="preview-instagram preview-instagram-story item-post-type" data-type="story">
                                             <div class="preview-media" data-max-image="1"></div>
                                          </div>
                                          <div class="preview-instagram preview-instagram-photo item-post-type" data-type="igtv">
                                             <div class="preview-content">
                                                <div class="user-info">
                                                   <img class="img-circle" src="{% static 'svg/favicon.png' %}">
                                                   <span>{% trans 'surviral' %}</span>
                                                </div>
                                                <div class="preview-media" data-max-image="1"></div>
                                                <div class="post-info">
                                                   <div class="info-active pull-left"> {% trans 'beTheFirstToLikeThis' %}</div>
                                                   <div class="pull-right">1s</div>
                                                   <div class="clearfix"></div>
                                                </div>
                                                <div class="caption pt0">
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text w50"></div>
                                                </div>
                                                <div class="preview-comment">
                                                   {% trans 'addAComment' %}
                                                   <div class="icon-3dot"></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="preview-instagram preview-instagram-carousel item-post-type" data-type="carousel">
                                             <div class="preview-content">
                                                <div class="user-info">
                                                   <img class="img-circle" src="{% static 'svg/favicon.png' %}">
                                                   <span>{% trans 'surviral' %}</span>
                                                </div>
                                                <div class="preview-media preview-carousel owl-carousel owl-theme" data-max-image="9"></div>
                                                <div class="post-info">
                                                   <div class="info-active pull-left"> {% trans 'beTheFirstToLikeThis' %}</div>
                                                   <div class="pull-right">1s</div>
                                                   <div class="clearfix"></div>
                                                </div>
                                                <div class="caption pt0">
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text"></div>
                                                   <div class="line-no-text w50"></div>
                                                </div>
                                                <div class="preview-comment">
                                                   {% trans 'addAComment' %}
                                                   <div class="icon-3dot"></div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="preview-instagram preview-instagram-photo item-post-type" data-type="text">
                                             <div class="text-center p-25">
                                                {% trans 'thisSocialNetwork' %}
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block script %}
<script>
   var uploadField = document.getElementByName("post-img");

   uploadField.onchange = function() {
       if(this.files[0].size > 31457280){
          alert("File is too big!");
          this.value = "";
       };
   };
</script>
{% endblock %}