{% extends 'dashboard/viral_ignitor/base.html' %}
{% load dashboard_extras %}
{% load i18n %}
{% load static %}
{% block title %} {% trans 'Pricing' %} {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/auth/style.css' %}" id="stylesheet">
{% endblock %}
{% block content %}
      <div class="wrapper">
         <div class="subheader dashboard">
            <div class="wrap">
               <div class="subheader-main wrap-m w-100 p-r-0">
                  <div class="wrap-c">
                     <button type="button" class="btn btn-label-info m-r-10 subheader-toggle"><i class="fas fa-bars"></i></button>
                     <h3 class="title"><i class="fas fa-desktop"></i> {% trans 'pricingPlan' %} : {% trans 'getStartedToday' %}</h3>
                  </div>
               </div>
            </div>
         </div>
         <section class="pricing content-one-column nicescroll dashboard">
            <div class="column-one mx-3">
                
              <nav class="pricing-tab">
                 <span class="tab-btn monthly_tab_title">Monthly </span>
                 <span class="pricing-tab-switcher"></span>
                 <span class="tab-btn annual_tab_title">Annually</span>
              </nav>
               <div class="row no-gutters d-flex justify-content-center">
                  {% for plan in plans %}
                  <div class="col-lg-4 monthly">
                     <div class="pricing-table br-left ">
                        <div class="pricing-header pricing-amount">
                           <div class="annual_price">
                              <h2 class="price">${{plan.amount}}<span class="fw-4 fs-18">/{%trans 'month' %}</span></h2>
                           </div>
                           <div class="monthly_price">
                              <h2 class="price">${{plan.amount}}<span class="fw-4 fs-18">/{% trans 'month' %}</span></h2>
                           </div>
                           <h3 class="price-title">{{plan.name}}</h3>
                           <p>{% trans 'account&Basic' %}</p>
                        </div>
                        <ul class="price-feture">
                           <li class="pl-0 text-center">
                              <div class="text-info fw-6 fs-16">{% trans 'addUpTo' %}</div>
                              <div class="small">{% trans 'socialAccount' %} </div>
                           </li>
                        </ul>
                        <ul class="price-feture">
                           <li class="title"><span>{% trans 'scheduling&Report' %}</span></li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'instagramScheduling' %}</li>
                        </ul>
                        <ul class="price-feture">
                           <li class="title"><span>{% trans 'modules&Addons' %}</span></li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'instagramActivity' %}</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'instagramAnalytics' %}</li>
                        </ul>
                        <ul class="price-feture">
                           <li class="title"><span>{% trans 'advanceFeatures' %}</span></li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'spintaxSupport' %}</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'watermarkSupport' %}</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'imageEditorSupport' %}</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'cloudImport' %}: {% trans 'googleDrive' %}</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'fileType' %}: {% trans 'photoVideo' %}</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'storage' %}: 150MB</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'maxFileSize' %}: 8MB</li>
                        </ul>
                        <div class="action text-center">
                           <a href="{% url 'payment' plan.stripe_plan_id %}" data-tmp="{% url 'payment' plan.stripe_plan_id %}" class="btn btn-primary btn-payment btn-block p-t-15 p-b-15">{% trans 'getStarted' %}</a>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
                  {% for plan in yearly_plans %}
                  <div class="col-lg-4 yearly hidden">
                     <div class="pricing-table br-left ">
                        <div class="pricing-header pricing-amount">
                           <div class="annual_price">
                              <h2 class="price">${{plan.amount}}<span class="fw-4 fs-18">/{%trans 'month' %}</span></h2>
                           </div>
                           <div class="monthly_price">
                              <h2 class="price">${{plan.amount}}<span class="fw-4 fs-18">/{% trans 'month' %}</span></h2>
                           </div>
                           <h3 class="price-title">{{plan.name}}</h3>
                           <p>{% trans 'account&Basic' %}</p>
                        </div>
                        <ul class="price-feture">
                           <li class="pl-0 text-center">
                              <div class="text-info fw-6 fs-16">{% trans 'addUpTo' %}</div>
                              <div class="small">{% trans 'socialAccount' %} </div>
                           </li>
                        </ul>
                        <ul class="price-feture">
                           <li class="title"><span>{% trans 'scheduling&Report' %}</span></li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'instagramScheduling' %}</li>
                        </ul>
                        <ul class="price-feture">
                           <li class="title"><span>{% trans 'modules&Addons' %}</span></li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'instagramActivity' %}</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'instagramAnalytics' %}</li>
                        </ul>
                        <ul class="price-feture">
                           <li class="title"><span>{% trans 'advanceFeatures' %}</span></li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'spintaxSupport' %}</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'watermarkSupport' %}</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'imageEditorSupport' %}</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'cloudImport' %}: {% trans 'googleDrive' %}</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'fileType' %}: {% trans 'photoVideo' %}</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'storage' %}: 150MB</li>
                           <li class="have"> <i class="fas fa-check"></i> {% trans 'maxFileSize' %}: 8MB</li>
                        </ul>
                        <div class="action text-center">
                           <a href="{% url 'payment' plan.stripe_plan_id %}" data-tmp="{% url 'payment' plan.stripe_plan_id %}" class="btn btn-primary btn-payment btn-block p-t-15 p-b-15">{% trans 'getStarted' %}</a>
                        </div>
                     </div>
                  </div>
                  {% endfor %}

               </div>
            </div>
         </section>
   
      </div>
{% endblock %}
{%block script%}
<script>
   $(".pricing-tab-switcher, .tab-btn").on("click", function(){
      $(".pricing-tab-switcher, .tab-btn").toggleClass("active");
      $(".pricing-tab").toggleClass("seleceted");
      if ($(".pricing-tab").hasClass("seleceted")){
         $(".monthly").addClass('hidden')
         $(".yearly").removeClass('hidden')
      }else{
         $(".monthly").removeClass('hidden')
         $(".yearly").addClass('hidden')
      }
   });
</script>
<script src="{% static 'js/core_post.js' %}"></script>
{%endblock%}