{% extends 'dashboard/viral_ignitor/base.html' %}
{% load static i18n %}
{% block title %} Group manager {% endblock %}
{% block content %}

<script src="{% static 'js/core_post.js' %}"></script>
<div class="wrapper">
   <div class="subheader group-manager">
      <div class="wrap">
         <div class="subheader-main">
            <button class="btn btn-label-info m-r-10 subheader-toggle"><i class="fas fa-bars"></i></button>
            <h3 class="title"><i class="text-info fas fa-users"></i> {% trans 'groupManager' %}</h3>
         </div>
      </div>
   </div>
   <div class="content-two-column group-manager">
      <div class="column-one nicescroll">
         <div class="input-group box-search-one">
            <input class="form-control search-input" type="text" value="" autocomplete="off" placeholder="{% trans 'search' %}">
            <span class="input-group-append">
            <button class="btn" type="button">
            <i class="fa fa-search"></i>
            </button>
            </span>
         </div>
    <div >
        <div class="wrap-m h-100">
            <div class="empty">
              <a class="btn btn-info" href="{% url 'create_youtube_group' %}">
                {% trans 'addNew' %} </a>
            </div>
        </div>
    </div>
    {% for group in groups %}
    <div class="card-body widget-list nicescroll p-0 no-update">
        <div class="widget-item widget-item-3 search-item line padding">
            <div class="icon">
                  <i class="fa fa-user"></i>
              </div>
              <div class="content content">
                   <a href="{% url 'list_youtube_account' group.id %}">
                 <div class="title fw-4 d-inline-block">{{ group.name }}
                 </div>
                  </a>
                  <br>
              </div>

         <div class="widget-option">
            <div class="dropdown">
               <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
               <i class="ft-more-vertical"></i>
               </button>
               <ul class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-anim dropdown-menu-top-unround">
                  <!-- <li>
                    <a href="{% url 'lint_to_group' group.id %}"><i class="far fa-trash-alt"></i> {% trans 'Link to Account' %}</a>
                  </li> -->
                  <li>
                    <a href="{% url 'delete_youtube_group' group.id %}"><i class="far fa-trash-alt"></i> {% trans 'Delete' %}</a>
                  </li>
                 
               </ul>
                </div>
             </div>
            </div>
        </div>
           {% endfor %}
           
      </div>
      <div class="column-two nicescroll">
         {% if youtube_accounts %}
            <div class="row">
               <div class="col-md-12 col-sm-6">
                  <div class="card m-b-30">
                    {% if group_id%}
                     <div class="card-header wrap-m">
                        <div class="card-title wrap-c m-b-2"><i class="fa fa-user"></i> <strong class="mx-2">{{group_name}}</strong>
                          
                          {% trans ' | totalAccounts:'  %}<strong class="mx-2">{{youtube_accounts.count}}</strong></div>
                     </div>
                     {% else %}
                        <div class="card-header wrap-m">
                        <div class="card-title wrap-c m-b-0"><i class="fa fa-user"></i><strong class="mx-2">{% trans 'groupManager' %}</strong> {% trans '| Total accounts:'  %}<strong class="mx-2">{{youtube_accounts.count}}</strong></div>
                     </div>
                     {% endif %}
                     <div class="card-body widget-list nicescroll p-0 no-update">
                         {% for insta_account in youtube_accounts %}
                        <div class="widget-item widget-item-3 search-item line padding">
                            <div class="icon">
                                  <!-- <i class="fa fa-user"></i> -->
                                  <i class="fab fa-youtube p-r-5" style="color: #d62976"></i>
                              </div>

                              <div class="content content">
                                   <a href="https://instagram.com/{{ insta_account.email }}" target="_blank">

                                 <div class="title fw-4 d-inline-block">{{ insta_account.email }}
                                   {% if insta_account.login_status == 'IN' %} <span class="badge mx-3 badge-success"> <strong> {% trans 'loggedIn' %} </strong> </span>
                                   {% elif insta_account.login_status == 'OUT' %}  <span class="badge mx-3 badge-danger"><strong> {% trans 'loggedOut' %} </strong> </span> | {{insta_account.job_set.last.data.failure_reason}}
                                   {% elif insta_account.login_status == 'F' %} <span class="badge mx-3 badge-danger"><strong> {% trans 'failed' %} </strong> </span>
                                   {% elif insta_account.login_status == 'O' %} <span class="badge mx-3 badge-warning"><strong> {% trans 'otpRequired' %} </strong> </span>
                                   {% elif insta_account.login_status == 'P' %} <span class="badge mx-3 badge-warning"><strong> {% trans 'pending' %} </strong> </span> {% endif %}
                                   {% if insta_account.account_from == "CO" %}
                                       Bot
                                    {% endif %}
                                 </div>
                                        </a>

                                  <!-- {% if insta_account.login_status == 'O' %} <button class="btn btn-primary" data-id="{{insta_account.id}}" id='show_Otp' style="position: absolute;padding-top: 8px;">Enter OTP</button>{% endif %} -->
                              </div>

                           <div class="widget-option">
                              <div class="dropdown">
                                 <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                 <i class="ft-more-vertical"></i>
                                 </button>
                                 <ul class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-anim dropdown-menu-top-unround">
                                    <li><a href="{% url 'remove_youtube_group' insta_account.id %}"><i class="far fa-trash-alt"></i> {% trans 'exitGroup' %}</a>
                                      <!-- <a href="{% url 'lint_to_group' insta_account.id %}"><i class="far fa-trash-alt"></i> {% trans 'Link to group' %}</a> -->
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                         {% endfor %}
                     </div>
                  </div>
               </div>
               {% if group_id %}
                    <div class="wrap-m h-100">
                       <div class="empty">
                          <a class="btn btn-info" href="{% url 'link_youtube_group' group_id %}">
                          {% trans 'addAccount' %} </a>
                       </div>
                    </div>
                  {% endif %}
            </div>
         {% else %}
         <div class="col-md-12 col-sm-6">
                  <div class="card m-b-30">
                     <div class="card-header wrap-m">
                        <div class="card-title wrap-c m-b-0"><i class="fa fa-user"></i><strong class="mx-2">{{group_name}}</strong>
                          
                          {% trans ' | Total accounts:'  %}<strong class="mx-2">{{youtube_accounts.count}}</strong></div>
                     </div>
                   </div>
                  {% if group_id %}
                    <div class="wrap-m h-100">
                       <div class="empty">
                          <a class="btn btn-info" href="{% url 'link_youtube_group' group_id %}">
                          {% trans 'AddAccount' %} </a>
                       </div>
                    </div>
                  {% endif %}
                 </div>

            {% endif %}
      </div>
   </div>
</div>
{% endblock %}