{% extends 'dashboard/viral_ignitor/base.html' %}
{% load static i18n %}
{% block title %} Multiple Follow {% endblock %}
{% block style %}

<style>
   form.tools_form {
      width: 500px;
    border: 1px solid #e2e5ec;
    padding: 40px;
    border-radius: 4px; 
    margin: 25px 0; 
   }
</style>
<script src="{% static 'js/core_post.js' %}"></script>

{% endblock %}
{% block content %}
<div class="wrapper">
   <div class="subheader dashboard">
      <div class="wrap">
         <div class="subheader-main wrap-m w-100 p-r-0">
            <div class="wrap-c">
               <button type="button" class="btn btn-label-info m-r-10 subheader-toggle"><i
                  class="fas fa-bars"></i></button>
               <h3 class="title"> {% trans 'multiplefollow' %}</h3>
            </div>
         </div>
      </div>
   </div>
   <div class="content-two-column dashboard">
      <div class="content-one-column nicescroll instagram-activity">
          <p class="mt-3">
             <i class="fa fa-info-circle mx-2 text-primary"></i>
              {% trans 'multiFollowFunctionality' %}
         </p>
         <form class="tools_form" method="POST">
            {% csrf_token %}
         <div class="row">
            <div class="col-md-12">
              <!-- <div class="form-group">
                <label for="group">group</label>
                <select class="select form-control" name="group">
                  <option value="">---Post with a Account Group---</option>
                  {% for group in user_groups %}
                    <option value="{{group.id}}">{{group.name}}</option>
                  {% endfor %}
                </select>
              </div> -->
               <div class="form-group">
                  <label for="code">{% trans 'usernames' %}</label>
                  <input type="text" class="form-control" name="follow_multiple_users" placeholder="{% trans 'usernamePlaceholder' %}" required="True"/ value="{{ target_username }}">
               </div>
               <div class="form-group">
                  <label for="code">{% trans 'numberOfFollows' %}</label>
                  <input type="number" class="form-control" name="number_of_followers" placeholder="{% trans 'enterNumberofFollows' %}" min="1" max="20" required="True"/ value="{{ times }}">
               </div>
               <div class="form-group">
                  <label for="code">{% trans 'scheduleAction' %}</label>
                  <input type="text" class="form-control datetime" name="scheduled_time" placeholder="{% trans 'schedulefollowTime' %}"/ value="{{jobs.scheduled_for}}">
               </div>
               <div class="form-group">
                  <span>{% trans 'currentTimezone' %}: {{user.timezone}}</span><a href="/account/" style="float: right;"><i class="far fa-edit"></i> {%trans 'edit' %}</a>
               </div>
               {% if jobs.like_comment %}
                 <div class="form-group">
                    <input type="checkbox" id="lk_cmnt_flw" name="lk_cmnt_flw" value="True" checked="checked">
                    <label for="lk_cmnt_flw"> {% trans 'followOnlyWhoLiked' %}</label><br>
                 </div>
                {% else %}
                 <div class="form-group">
                    <input type="checkbox" id="lk_cmnt_flw" name="lk_cmnt_flw" value="True">
                    <label for="lk_cmnt_flw"> {% trans 'followOnlyWhoLiked' %}</label><br>
                 </div>
                {% endif %}

                {% if jobs.other_acc_not_followed_back %}
                   <div class="form-group">
                      <input type="checkbox" id="not_followed_back" name="not_followed_back" value="True" checked="checked">
                      <label for="not_followed_back"> {% trans 'dontFollowThoseWho' %}</label><br>
                   </div>
                {% else %}
                  <div class="form-group">
                      <input type="checkbox" id="not_followed_back" name="not_followed_back" value="True">
                      <label for="not_followed_back"> {% trans 'dontFollowThoseWho' %}</label><br>
                   </div>
                {% endif %}
                {% if jobs.other_acc_followed_back %}
                   <div class="form-group">
                      <input type="checkbox" id="followed_back" name="followed_back" value="True" checked="checked">
                      <label for="followed_back">{% trans 'dontFollowThoseWhoHave' %}</label><br>
                   </div>
                {% else %}
                    <div class="form-group">
                      <input type="checkbox" id="followed_back" name="followed_back" value="True" >
                      <label for="followed_back">{% trans 'dontFollowThoseWhoHave' %}</label><br>
                   </div>
                {% endif %}
               <input type="hidden" name="timezone" value="{{user.timezone}}">
               <input type="hidden" name="admin_user_id" value="{{ user.id }}">
               <input type="hidden" id="insta_user_id" name="insta_user_id">
               <button type="submit" class="btn btn-primary">{%trans 'save'%}</button>
            </div>
         </div>
      </form>
      </div>
   </div>
</div>
<script type="text/javascript">
  //Add a JQuery click event handler onto our checkbox.
$('#lk_cmnt_flw').click(function(){
    //If the checkbox is checked.
    var i= 
    if($(this).is(':checked')){
        //Enable the submit button.
        $('#submit_button').attr("disabled", false);
    } else{
        //If it is not checked, disable the button.
        $('#submit_button').attr("disabled", true);
    }
});

</script>
{% endblock %}
{% block script %}
{% include 'dashboard/include/tools_script.html' %}
{% endblock %}