{% extends 'dashboard/viral_ignitor/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Story Direct Message {% endblock %}
{% block style %}
<style>
   form.tools_form {
      width: 500px;
    border: 1px solid #e2e5ec;
    padding: 40px;
    border-radius: 4px;
    margin: 25px 0;
   }
</style>
<style>
    .switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}

</style>

<style>

    label,
textarea, {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

</style>
<script src="{% static 'js/core_post.js' %}"></script>
{% endblock %}
{% block content %}
<div class="wrapper">
   <div class="subheader dashboard">
      <div class="wrap">
         <div class="subheader-main wrap-m w-100 p-r-0">
            <div class="wrap-c">
               <button type="button" class="btn btn-label-info m-r-10 subheader-toggle"><i
                  class="fas fa-bars"></i></button>
               <h3 class="title"> {% trans 'storydirectmessage' %}</h3>
            </div>
         </div>
      </div>
   </div>
   <div class="content-two-column dashboard">
      <div class="content-one-column nicescroll instagram-activity">
          <p>
                <i id="description" class="fa fa-info-circle mx-2 text-primary"></i>

         </p>
         <form class="tools_form" action="" method="POST">
            {% csrf_token %}
            <div class="row">
               <div class="col-md-12">
<!--                  <div class="form-group">-->
<!--                     <label for="code">{% trans 'username' %}</label>-->
<!--                     <input type="text" class="form-control" name="insta_username" placeholder="{% trans 'enterUsernameHere' %}" required="True"/>-->
<!--                  </div>-->

                  <div class="form-group">
                    <p><label class="label text-primary"></label></p>
                    <label class="switch" >
                        <input type="checkbox" id="togBtn"  name="togBtn" value="{{status}}">
                        <div class="slider round">
                        <span class="on">{% trans 'onText' %}</span>
                        <span class="off">{% trans 'offText' %}</span>
                        </div>
                        </label>
                  </div>
                  <input type="hidden" name="admin_user_id" value="{{ user.id }}">
                  <input type="hidden" id="insta_user_id" name="insta_user_id">

                   <label id="message_id" for="direct_message">Write Message Here</label>
                    <textarea id="direct_message" name="Message" rows="5" cols="33">It was a dark and stormy night...</textarea>

               </div>
            </div>
             <button id="smtb" type="submit" class="btn btn-primary">submit</button>
         </form>
      </div>
   </div>
</div>
{% endblock %}
{% block script %}
{% include 'dashboard/include/tools_script.html' %}
<script>
$("#togBtn").on('change', function() {
    if ($(this).is(':checked')) {
        $(this).attr('value', 'True');

    }
    else {
       $(this).attr('value', 'False');
    }
});
</script>

<script>
$(window).on('load',function(){
$.ajax({
          type:"GET",
          url: "{% url 'story-direct-message-status' %}",
          data: {"insta_user_id": insta_user_id.value},
          // async: true,
          success: function (data) {
          console.log(data.status);
            if (data.status == false){
            $("input[name=togBtn").attr('disabled', false);
            $(".label").text("{% trans 'enableStoryDirectMessage' %}");
            $("#description").text("{% trans 'enableStoryDirectMessage' %}");
            $('#direct_message').val(data.message);
            }else {
            $("input[name=togBtn").attr('checked', true);
            $(".label").text("{% trans 'disableStoryDirectMessageFeature' %}");
            $("#description").text("{% trans 'disableStoryDirectMessageFeatureOn' %}");
            $('#direct_message').val(data.message);
            }
          },
          error: function (xhr, status) {
            alert("{% trans 'sorryThereWasAProblem' %}");
          },
        });
});
</script>
{% endblock %}